@inject SignInManager<Candidate> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    @*<li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>*@
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.CertificatesNavClass(ViewContext)" id="certificates" asp-page="./Certificates">Certificates</a></li>
    @if (User.IsInRole("QualityControl") || User.IsInRole("Admin"))
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.QcNotesNavClass(ViewContext)" id="qcnotes" asp-page="./QcNotes">Reports</a></li>
    }    
    @if (User.IsInRole("QualityControl") || User.IsInRole("Admin"))
    {
        <li class="nav-item"><a class="nav-link" asp-controler="Home" asp-action="Support">Support Chat</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.UsersNavClass(ViewContext)" id="users" asp-page="./Users">Users</a></li>
</ul>
